
@model List<Codecool.CodecoolShop.Models.Product>

 
@{
    decimal totalPrice = 0;

    <table class="table">
        <tr class="col">
            <th class="col-1">ITEM</th>
            <th class="col-2">QUANTITY</th>
            <th class="col-3">PRICE</th>
        </tr>
        @foreach (Product product in Model)
        {
            @if (product.Quantity > 0)
            {
                decimal productPrice;
                productPrice = product.Quantity * product.DefaultPrice;
                totalPrice += product.Quantity * product.DefaultPrice;
                <tr class="col">
                    <th class="col-1"> @product.Name </th>
                    <th class="col-2"> @product.Quantity</th>
                    <th class="col-3">@productPrice</th>
                    <th class="col-4"><a type="button" class="btn btn-primary" asp-controller="Product" asp-action="AddOneMore" asp-route-id="@product.Id" >Add</a></th>
                    <th class="col-5"><a type="button" class="btn btn-primary" asp-controller="Product" asp-action="Remove" asp-route-id="@product.Id">Remove</a></th>
                </tr>
            }
        }
    </table>
}


<div class="d-table-cell">
    <b>Total Cart Price: @totalPrice</b>
</div>

<p id="checkout2">Checkout</p>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/Cart.js" asp-append-version="true"></script>
